<?xml version="1.0" encoding="utf-8"?>
<Content Key="32f996d4-43dd-4faa-a386-392b02e126b7" Alias="Redirect" Level="3">
  <Info>
    <Parent Key="c8e6ca25-9957-4ce2-88bf-313d079d5d0f">Discord</Parent>
    <Path>/Home/Discord/Redirect</Path>
    <Trashed>false</Trashed>
    <ContentType>discordLoginRedirectHandler</ContentType>
    <CreateDate>2021-09-10T17:33:30</CreateDate>
    <NodeName Default="Redirect" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8c9fda07-980e-4345-af5f-32c6a90f5c54">DiscordLoginRedirectHandler</Template>
  </Info>
  <Properties />
</Content>