<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="78bc5f11-3efd-41d4-aa82-ad588653651c" Alias="discordSection" Level="2">
  <Info>
    <Name>DiscordSection</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Discord</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="0b809ef6-30e7-4a89-b07a-a236d241b86e" SortOrder="0">discordLogin</ContentType>
    <ContentType Key="20a0c7e9-c0e2-400f-b9dd-7e5f9de3f365" SortOrder="1">discordLoginRedirectHandler</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>5f71df97-26af-4eb1-ab29-d51682db16b7</Key>
      <Name>RequiredGuildIds</Name>
      <Alias>requiredGuildIds</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[csv of guilds(servers) the discord user should be a member off
If empty, we do not check if a member is part of the guild.
If enabled, will deapprove the member if they leave the server]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="credentials">Credentials</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>731258b5-d6ae-423f-8b3e-e11032f6a0bd</Key>
      <Caption>Credentials</Caption>
      <Alias>credentials</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>