<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="20a0c7e9-c0e2-400f-b9dd-7e5f9de3f365" Alias="discordLoginRedirectHandler" Level="2">
  <Info>
    <Name>DiscordLoginRedirectHandler</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Discord</Folder>
    <Compositions />
    <DefaultTemplate>DiscordLoginRedirectHandler</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8c9fda07-980e-4345-af5f-32c6a90f5c54">DiscordLoginRedirectHandler</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>