<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0b809ef6-30e7-4a89-b07a-a236d241b86e" Alias="discordLogin" Level="2">
  <Info>
    <Name>DiscordLogin</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Discord</Folder>
    <Compositions />
    <DefaultTemplate>DiscordLogin</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="17b29f86-9b32-4b09-b9a6-5b26ecce2626">DiscordLogin</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>