<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="374d62d2-763a-4564-ae78-23d261d11f37" Alias="homepage" Level="1">
  <Info>
    <Name>Homepage</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Homepage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="88bdd0f6-deda-4bf5-b0bc-7b647bc95016">Homepage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="78bc5f11-3efd-41d4-aa82-ad588653651c" SortOrder="0">discordSection</ContentType>
    <ContentType Key="177f1e95-1f05-4a9d-8e7a-52d1b10944ce" SortOrder="1">logout</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>