<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="177f1e95-1f05-4a9d-8e7a-52d1b10944ce" Alias="logout" Level="1">
  <Info>
    <Name>Logout</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>Logout</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1f1cc343-ee3d-4dd5-a11f-43f24525bdc6">Logout</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>